<div id="<%= dom_id user_salary %>">
  <p>
    <strong>Month total salary:</strong>
    <%= user_salary.month_total_salary %>
  </p>

  <p>
    <strong>Deduction:</strong>
    <%= user_salary.deduction %>
  </p>

  <p>
    <strong>Net salary:</strong>
    <%= user_salary.net_salary %>
  </p>

  <p>
    <strong>Welfare pension:</strong>
    <%= user_salary.welfare_pension %>
  </p>

  <p>
    <strong>Transportation expense:</strong>
    <%= user_salary.transportation_expense %>
  </p>

  <p>
    <strong>Residential tax:</strong>
    <%= user_salary.residential_tax %>
  </p>

  <p>
    <strong>Health insurance fee:</strong>
    <%= user_salary.health_insurance_fee %>
  </p>

  <p>
    <strong>Overtime pay:</strong>
    <%= user_salary.overtime_pay %>
  </p>

  <p>
    <strong>Late night overtime pay:</strong>
    <%= user_salary.late_night_overtime_pay %>
  </p>

</div>
