<p style="color: green"><%= notice %></p>

<%= render @user_salary %>

<div>
  <%= link_to "Edit this user salary", edit_user_salary_path(@user_salary) %> |
  <%= link_to "Back to user salaries", user_salaries_path %>

  <%= button_to "Destroy this user salary", @user_salary, method: :delete %>
</div>
