<!DOCTYPE html>
<html>
  <head>
    <title>給与明細管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-link' %>

        <div class="header-box">
          <a class="payslip" href="#">給与明細</a>
          <a class="bonus" href="#">賞与明細</a>
          <a class="tax_withholding" href="#">源泉徴収</a>
        </div>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
